*{
    padding: 0;
    margin: 0;
}

.book{
    width: 100%;
    height: 100vh;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}
.book1{
    width:450px;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
}
.book_a_table{
    font-size: 40px;
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    padding-top: 20px;
}
.name{
    width: 400px;
    height: 30px;

}
.number{
    width: 400px;
    height: 30px;
}
.mail{
    width: 400px;
    height: 30px;
}
.persons{
    width: 400px;
    height: 30px;
}
.date{
    width: 400px;
    height: 30px;
}
.book_now{
    background-color:#fac031;
    border-radius: 8px;
    width: 120px;
    height: 30px;
    border: none;
    position: relative;
    bottom: 20px;
    font-style: normal;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    
}
.book2{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    height: 40vh;
}
 .book_now:hover{
    opacity:0.8;
    cursor: pointer;
}

@media screen and (min-width:300px) and (max-width:768px){
    iframe{
        width:450px !important;
        height: 450px !important;
    }
    .book1{
        /* width:450px;
        height:500px; */
        width: 90%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 7px;
        box-shadow: 0 0 10px rgb(0,0,0,0.5);
        margin-top: 80px;
    }
    .book_a_table{
        font-size: 30px;
        font-family: "Dancing Script", cursive;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
        padding-top: 20px;
    }
    .name{
        width: 300px;
        height: 30px;
    
    }
    .number{
        width: 300px;
        height: 30px;
    }
    .mail{
        width: 300px;
        height: 30px;
    }
    .persons{
        width: 300px;
        height: 30px;
    }
    .date{
        width: 300px;
        height: 30px;
    }
    .book_now{
        background-color:#fac031;
        border-radius: 8px;
        width: 120px;
        height: 30px;
        border: none;
        position: relative;
        bottom: 10px;
        font-style: normal;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 16px;
        
    }
    .book2{
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px rgb(0,0,0,0.5);
        border-radius: 10px;
        overflow: hidden;
        width: 90%;
        height: 55vh;
        margin-top: 30px;
    }
}